<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barajasoft.raites">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity"
            android:theme="@style/AppThemeBlue">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN_MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.PROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.PublicarViajeActivity">
            <intent-filter>
                <action android:name="android.intent.action.PUBLICAR_VIAJE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MiVehiculoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MY_CAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.HelpActivity">
            <intent-filter>
                <action android:name="android.intent.action.AYUDA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ContactActivity">
            <intent-filter>
                <action android:name="android.intent.action.CONTACTO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.AboutActivity">
            <intent-filter>
                <action android:name="android.intent.action.ACERCA_NOSOTROS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>